* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* background-color: rgb(17, 17, 17); */
  color: white;
  /* transition: 0,5s; */
}

